<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf" />
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuadAuto.Server.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />

    </sectionGroup>
  </configSections>
  <ShelfConfiguration Bootstrapper="QuadAuto.Server.ServerStartBootstrapper, QuadAuto.Server" />
  <connectionStrings>
    <add name="QuadAuto.Server.Properties.Settings.EventStoreConnectionString"
         connectionString="Server=192.168.79.1;Port=5432;User Id=tmassey;Password=Poilkjmnb!1;Database=EventStore;SSL=false;SslMode=Disable;Timeout=1024;"
         providerName="Npgsql2" />
    <add name="QuadAuto.Server.Properties.Settings.EventStoreConnectionStringDebug"
         connectionString="Server=192.168.79.1;Port=5432;User Id=tmassey;Password=Poilkjmnb!1;Database=EventStore;SSL=false;SslMode=Disable;Timeout=1024;"
         providerName="Npgsql2" />
  </connectionStrings>
  <userSettings>
    <QuadAuto.Server.Properties.Settings>
      <setting name="MassTransitReceiveFrom" serializeAs="String">
        <value>
          rabbitmq://192.168.79.1/QuadAutoFramework
        </value>
      </setting>
      <setting name="MassTransitReceiveFromDebug" serializeAs="String">
        <value>
          rabbitmq://192.168.79.1/QuadAutoFramework
        </value>
      </setting>
      <setting name="MongoDbServer" serializeAs="String">
        <value>
          mongodb://192.168.79.1/?safe=true
        </value>
      </setting>
      <setting name="MongoDbDatabase" serializeAs="String">
        <value>QuadAutomotive</value>
      </setting>
      <setting name="MongoDbServerDebug" serializeAs="String">
        <value>
          mongodb://192.168.79.1/?safe=true
        </value>
      </setting>
      <setting name="MongoDbDatabaseDebug" serializeAs="String">
        <value>QuadAutomotive</value>
      </setting>
    </QuadAuto.Server.Properties.Settings>
  </userSettings>

  <system.data>
    <DbProviderFactories>
      <add name="Npgsql2 Data Provider" invariant="Npgsql2" description=".Net Framework Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.93, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>

</configuration>